*,
*:before,
*::after {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    position: relative;
    margin: 0;
    overflow-x: hidden;
}

#particles-js {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

h1 {
    font-size: calc(5rem + 1.5vw);
}

h2 {
    font-size: calc(1rem + .5vw);
}

header {
    position: relative;
    z-index: 2;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

header h1 {
    text-align: center;
    margin: 5px 0px;
    color: transparent;
    -webkit-text-stroke: calc(0.1rem + 0.001vw) black;
    transition: all .25s ease;
}

header h1:hover {
    color: #ff0066;
    -webkit-text-stroke: calc(0.1rem + 0.001vw) #ff0066;
}

header h2 {
    text-align: center;
    font-weight: 600;
    letter-spacing: calc(0.1rem + 1vw);
}

section h3 {
    position: relative;
    color: white;
    z-index: 2;
    font-size: calc(1.5rem + .5vw);
}

#about {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.titreSection {
    position: absolute;
    top: 0;
    margin: 50px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titreSection img {
    position: absolute;
    transform: translateX(5%) rotateZ(65deg);
    overflow: hidden;
    width: calc(20rem + 5vw);
    top: 50;
    left: 50;
}

.titreSection.left {
    left: 0;
}

.titreSection.right {
    right: 0;
}

.titreSection.right img {
    transform: translateX(-8%) rotateZ(245deg);
}


#about p {
    width: 50%;
    padding: 0 100px;
    text-align: justify;
}

.photoMateo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.photoMateo::after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 50%;
    width: 50%;
    height: 30%;
    border-radius: 100%;
    transform: translate(-53%) rotateZ(-10deg);
    background: linear-gradient(170deg, #ff0066, #5a0024);
}

.photoMateo img {
    position: relative;
    top: 200px;
    -webkit-filter: saturate(0%);
    filter: saturate(0%);
    width: 50%;
    -webkit-mask-image: linear-gradient(black 70%, transparent 90%);
    mask-image: linear-gradient(black 70%, transparent 90%);
    transition: all 0.25s ease;
}

.photoMateo img:hover {
    -webkit-filter: saturate(100%);
    filter: saturate(100%);
}

#skills {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

#skills .titreSection img {
    width: calc(22rem + 5vw);
}

.grid {
    margin-top: 200px;
    width: 80%;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
}

.iconBox {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.iconBox .icone {
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.iconBox img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: calc(1 + var(--i));
    opacity: calc(1 - (0.2 * var(--j)));
    transition: all 0.5s ease;
}

.iconBox .imgPatron {
    position: relative;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s ease;
}

.iconBox:hover .blobSkill {
    transform: rotate(-30deg) skew(25deg) translateX(calc(1vw * var(--i))) translateY(calc(-1vw * var(--i)));
}

.iconBox:hover .icone {
    transform: rotate(-30deg) skew(25deg) translateX(calc(1vw * var(--i))) translateY(calc(-1vw * var(--i) - 50%));
}

.iconBox p {
    width: 90%;
    text-align: justify;
}